body {
  background: rgb(24, 24, 24);

  text-align: center;
}
.container > h1 {
  padding-top: 10px;
  color: #ff004c;
  font-weight: bolder;
  text-shadow: 2px 2px 20px #ff004c, 2px 4px 14px rgba(0, 0, 0, 0.682);
}
th {
  color: #ff004c;
}
td,
a {
  color: #fff;
}
a:hover {
  color: #ff004c;
  text-decoration: none;
}
